*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(193, 204, 214);

}
img{
    cursor: auto;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header{
    padding: 16px 0;
    border-bottom: 1.5px solid black;
    background-color: rgb(193, 204, 214);
}
.menu li{
    float: left;
    list-style: none;
    padding: 16px;
    cursor: pointer;
    margin-left: 25px;
    font-weight: bold;
}

.noticias {
    display: grid;
    grid-template-columns: repeat(4, 24.25%);
    column-gap: 1%;
    row-gap: 5%;
    padding: 90px;
    
}
.titulo{
    margin: 5%;
    border-bottom: 3px solid black;
}
.noticia-principal h2{
    border-bottom: 3px solid black;
}
.noticia-principal{
    display: grid;
    grid-template-columns: repeat(2, 49% );
    padding: 46px;
}
.noticia-principal h2{
    border-bottom: 3px solid black;
    cursor: auto;
}
.noticia-principal img{
    margin-left: 33px;
}

button{
    padding: 5px;
    font-size: bold;
    background-color: green;
    border: none;
    width: 200px;
    cursor: pointer;
}

h3{
    font-family: "Roboto" sans-serif;
    color: white;
    font-size: bold;
    cursor: auto;
}





@media (max-width: 1024px) {
    .noticias {
        grid-template-columns: repeat(2, 1fr);
        padding: 45px;
    }

    .noticia-principal {
        grid-template-columns: 1fr;
        text-align: center;
    }
    
    .noticia-principal img {
        margin-left: 0;
        width: 100%;
        max-width: 400px; 
        display: block;
        margin: 0 auto;
    }
}

@media (min-width: 767px) and (max-width: 1023px) {
    .noticias {
        grid-template-columns: repeat(2, 1fr);
        padding: 100px;
        text-align: center;
        
    }

    .noticia-principal {
        grid-template-columns: 1fr;
        text-align: center;
        padding: 20px;
    }

    .noticia-principal img {
        max-width: 50%;
    }
}
@media (min-width: 2px) and (max-width:640px) {
    
    .noticias {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        
    }

    .noticia-principal {
        grid-template-columns: 1fr;
        text-align: center;
        padding: 20px;
    }

    .noticia-principal img {
        max-width: 50%;
    }
} 